<template>
    <div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">Comming Son!</h1>
	    <p class="lead">Up Comming Pages</p>
	  </div>
	</div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
